
@keyframes helicapter{

0%{top: 273px;  }
30%{top:0px;}
30%{ left: 990px;}
70%{ left: 50px; top:0px; }
80%{ top:273px; left: 0px;   }
100%{top: 273px; left: 0px}


}


.add{
    animation: helicapter;
    position: absolute;
        /* top:70vh; */
    
    animation-duration:3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;  
        animation-delay:0s;
    }






#heli{

width: 300px;
height: 200px;
position: absolute;
left: 990px;
top: 273px;
/* animation: helicapter; */
/* position: absolute; */
    /* top:-96px; */

/* animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
    animation-delay:0s; */

}
.pad1 img{
    position: absolute;
    left: 1025px;
    top: 364px;
}
.pad2 img{
    position: absolute;
    left: 10px;
    top: 364px;

}














body{
    background-color: antiquewhite;
}