.container{

    display: grid;
 grid-template-columns:100px 100px 100px ;
 grid-template-rows: 100px 100px 100px;
 width: 30%;
 height: 225px;
 grid-gap: 4px;
 grid-template: 
"area1 area2 area3 "
" area4 area2 area5"
"area6 area6 area6"
}

.container div{
    border: 1px solid blue;
  
  
}
.area1{
    grid-area: area1;
   }
.area2{
    grid-area: area2;
}
.area3{
    grid-area: area3;
}
.area4{
    grid-area: area4;
}
.area5{
    grid-area: area5;
}
.area6{
    grid-area: area6;
}